:root {
  --main-font: "Inter";
  --accent-font: "PressStart2P";
  --accent-font-weight: 400;
  --fill-color: #ff0000;

  --main-font-weight-title: 700;
  --main-font-weight-text: 400;
  --main-color: #000;
  --background-color: #fff;
  --background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --text-shadow-color: #fff;
  --button-text-color: #fff;
}
